@font-face {
  font-family: Bitiwise;
  src: url('WEB/css/bitiwise.ttf');
}


body{
  background-color: #5472AE;
}

*{
  font-family: Bitiwise;
}

a{
  text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}


/*Menu section*/

.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	padding: 15px 15px 0;
}

.site-logo {
	float: left;

}

.logoImg{
  padding-top: 10px;
  width:80px;
}

.main-menu {
  margin:4px;
	list-style: none;
	text-align: left;
	padding-top: 20px;
  background-color:#0131B4;
  border-radius: 20px;
  width: 1800px;
  height: 70px;
}

.main-menu li {
  padding-top: 17px;
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: flex;
	font-size: 16px;
	font-weight: 500;
	color: white;
	padding-bottom: 28px;
	position:relative;
  padding-left: 26px;
}



.main-menu li a:hover {
  font-weight: bold;
}



.main-menu li:hover{
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}



/*Blue beam section*/
.GameLogo{
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 340px;
}

/* Studio section */

.StudioContainer{
  padding-top: 0px;
  display: block;
  padding-left: 185px;
  margin-left: 130px;
}





.Name{
  display: inline-block;
}

.Samy{
  margin-left: 150px;
}

.Victor{
  margin-left: 280px;
}

.Joris{
  margin-left: 270px;
}

.Stan{
  margin-left: 270px;
}

.Name{
  padding-top: 20px;
  font-size: 25px;
}

.studioH2{
  text-align: center;
  font-family:"palatino linotype", palatino, serif;
}



.studio{
  width: 100%;
  display: inline-block;
  border-radius: 20px;

}

.studio:hover{
  width: 101%;
}
/* quick reset */


/* relevant styles */
.img__wrap {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 300px;
}

.img__description {
  width: auto;
  text-align: center;
  background-color: #5472AE;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description  {
  visibility: visible;
  opacity: 1;
}

.later{
  color: black;
  font-size: 40px;
  text-align: center;
  margin-top: 250px;
}

.artworkContainer{
  margin-top: 150px;
}

.artwork .artworkBIG{
  width: 255px;
  height: 255px;
}
